.empty-box {
    width: 100px;
    height: 100px;
}

.empty-box:empty {
    outline: 2px red solid;
}

/* :empty - если элемент пустой, то есть нет контента внутри, нет дочерних элементов
и так далее, то применяются стили */