* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    padding: 10px;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    font-size: 32px;
    font-style: bold;
}

.container-item {
    min-height: 100px;
    flex-basis: 10%;
    margin:20px ;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    flex-shrink: 0;
}

.row {
    flex-flow: row wrap;
}

.column {
    flex-flow: column wrap;
    align-items: flex-end;
    flex-basis: 20%;
    flex-grow: 1;
    justify-content: flex-end;
}

.test {
    flex-shrink: 3;
}