.block {
    display: inline-block;
    background-color: aqua;

    /* margin: 10px 20px 30px 40px; */
    /* ⁡⁢⁣⁡⁢⁢⁡⁢⁢⁢отступы: cверху, справа, снизу, слева - по часовой стрелке⁡⁡ */

    /* margin: 10px 30px; */
    /* ⁡⁢⁢⁢если значения ⁡⁢⁣⁢два⁡ ⁡⁢⁢⁢то: первая цифра - вертикальные отступы
                          вторая цифра - горизонтальные отступы⁡⁡ */

    /* margin: 10px; */
    /* ⁡⁢⁢⁢если ⁡⁢⁣⁢одно⁡ ⁡⁢⁢⁢значения, то отступы для всех сторон⁡ */

    /* margin: 0 10px 0; */
    /* ⁡⁢⁢⁢если значения ⁡⁢⁣⁢три⁡ ⁡⁢⁢⁢то: первая цифра - отступ сверху
                          вторая цифра - отступы по бокам
                          третья цифра - отступ снизу⁡⁡ */

    margin: 100px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    /* точеные маргины */
}

/* ⁡⁣⁢⁢padding - отступы внутри границ элемента⁡ */

.padding-block {
    display: inline-block;
    background-color: crimson;
    color: #fff;
    /* padding: 10px 20px 30px 40px; */
    /* padding: 0 30px; */
    /* padding: 10px; */
    padding: 0 10px 0;

    /* ⁡⁢⁢⁢направление отступов также как и у margin⁡ */
}