a {
    display: block;
}

a:link {
    color: green;
}

a:visited {
    color: red;
}

/* :link - если пользователь не посетил сайт по ссылке не только сейчас, но за всё
время пользования браузером, то покрасить в зеленый */

/* :visited - если пользователь посетил сайт по ссылке, то покрасить в красный */