/* * {
    margin: 0;
    padding: 0;
} */

/* ⁡⁢⁣⁢неправильный способ убирания отступов ⁡*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}
/* inherit - наследование цвета текста от обычного текста на странице */
/* text-decoration: none - убрать подчёркивание у ссылок и другого */

img {
    max-width: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
}