h1 {
    font-size: 30px;
    font-style: italic;
}

/* h1, h2 {
    color:blueviolet;
} */
/* можно перечислять сразу несколько тегов через запятую */

.heading {
    color: red;
}
/* * - все теги на странице */

#heading {
    color: blueviolet;
}
/* через # прописывается стиль для id из HTML */
/* ⁡⁢⁣⁢вес селектора id выше чем class!⁡ */