/* .block {
    border: 1px solid #000;
    width: 300px;
    height: 100px;
} */
/* width и height: не работают со строчными эл-ми */

.max-width {
  background-color: aqua;
  max-width: 1000px;
  min-width: 320px;
  max-height: 500px;
  min-height: 200px;
}

/* если сжать сайт - блок тоже сожмется, так как он 
лишь ограничен "верхней" границей */

/* но если сжимать меньше чем 320 - не сожмется, 
так как указана "нижняя" граница через min-width */

/* max-height ограничивает высоту блока, как и height, 
поэтому использовать нежелательно, кроме ситуаций, где 
нужно специально сделать скроллящийся блок */

/* min-height может дать блоку какие-то минимальные 
размеры по высоте, но не ограничить ничем. Однако 
без паддингов использовать не рекомендуется, потому что 
контент не должен прилипать к краям блока, а без них 
такое может произойти */