.element {
  color: red;
}

.element-2 {
  color: #ff0;
}

/* способ через # самый популярный:
f - белизна
0 - чернота */

.element-3 {
  color: rgb(100, 255, 120);
}

.element-4 {
  color: rgba(0, 0, 255, 0.5);
}

/* в rgba: a - прозрачность */