.col {
    display: inline-block;
    width: 25%;
    height: 300px;
    background-color: blue;
    font-size: 16px;
    text-align: center;
    padding: 30px;
    border: 10px solid black;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: wheat;
    box-sizing: border-box;
}

body {
    background-color: blue;
}

.row {
    font-size: 0;  
}


.col:first-child {
    background-color: rgb(73, 163, 248);
}

.col:not(:first-child) {
    background-color: aliceblue;
}

.col:nth-child(2) {
    background-color: rgb(74, 250, 250)
}

.col:last-child {
    background-color: blue;
}