.parent div {
    width: 100px;
    height: 100px;
    margin: 100px;
    background-color: red;
}

/* сначала по классу (parent) потом тег (div) */
/* ⁡⁢⁢⁢применяется только к тегу div, который является дочерним элементом тега с классом parent⁡⁡ */
/* ⁡⁢⁣⁢не стоит пользоваться каскадом без острой необходимости⁡ */