* {
    box-sizing: border-box;
}

.content {
  width: 1170px;
  margin: 0 auto;
  font-size: 0;
}

.card {
  border-radius: 8px;
  padding: 15px;
  width: 350px;
  min-height: 400px;
  background-color: wheat;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 16px;
  border: 5px double black;

}

.card:not(:nth-child(3n)) {
    margin-right: 15px;
}