.body {
    min-height: 40000px;
    margin: 0;
}

.header {
    position: fixed;
    top: 30px;
    width: 100%;
    padding: 30px 0;
    background-color: gray;
    text-align: center;
    border-radius: 5%;
    border: 2px solid black;
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    border-radius: 20%;
}