.example {
    background-color: navy;
    width: 400px;
    padding: 20px;
    border: 6px solid gray;
    /* ⁡⁢⁢⁢box-sizing: border-box - внутринние отступы съедают размеры
    элемента изнутри⁡ - ⁡⁢⁣⁢использовать всегда⁡*/
}

* {
    box-sizing: border-box;
}