.bg-image {
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: inset 10px 15px 10px black;
    width: 1000px;
    height: 1000px;
    background-image: url(img/moscow.jpg);
    background-position: 0 500px;
    background-repeat: repeat;
    background-size: cover;
    background: transparent url(img/moscow.jpg) no-repeat 
    center center / cover ;
}

/* ⁡⁢⁢⁡⁢⁢⁢𝗯𝗮𝗰𝗸𝗴𝗿𝗼𝘂𝗻𝗱-𝗶𝗺𝗮𝗴𝗲 будет поверх 𝗯𝗴-𝗰𝗼𝗹𝗼𝗿 ⁡*/

/* 𝘂𝗿𝗹 - как ссылка на фотку на сайте, так и на файл внутри пк */

/* чтобы снести картинку, то 𝗯𝗮𝗰𝗸𝗴𝗿𝗼𝘂𝗻𝗱-𝗶𝗺𝗮𝗴𝗲: 𝗻𝗼𝗻𝗲     */

/* ⁡⁢⁣⁢⁡⁢⁣⁣𝗯𝗮𝗰𝗸𝗴𝗿𝗼𝘂𝗻𝗱-𝗽𝗼𝘀𝗶𝘁𝗶𝗼𝗻: 𝟭𝟬𝗽𝘅 𝟮𝟬𝗽𝘅 - первое значение по горизонтали, второе
по вертикали⁡ ⁡*/

/* ⁡⁢⁣⁡⁢⁣⁣𝗯𝗮𝗰𝗸𝗴𝗿𝗼𝘂𝗻𝗱-𝗿𝗲𝗽𝗲𝗮𝘁: 𝗿𝗲𝗽𝗲𝗮𝘁; - повтор фона (если стянем картинку так, что
где нибудь будет пустое простарнство, то картинка повторится)⁡ */

/* ⁡⁢⁣⁢𝗯𝗮𝗰𝗸𝗴𝗿𝗼𝘂𝗻𝗱-𝘀𝗶𝘇𝗲: ⁡⁢⁢⁣𝗰𝗼𝘃𝗲𝗿⁡; - ⁡⁢⁣⁢РАСТЯНУТЬ КАРТИНКУ ПО ШИРИНЕ БЛОКА!!!⁡⁡ 
при ⁡⁢⁢⁣𝗰𝗼𝗻𝘁𝗮𝗶𝗻⁡ пользователь увидит всю картинку до последнего пикселя*/

/* ⁡⁢⁣⁢𝗘диная запись: 𝗯𝗮𝗰𝗸𝗴𝗿𝗼𝘂𝗻𝗱: 𝗯𝗴-𝗰𝗼𝗹𝗼𝗿 ссылка на картинку повторение позиция/
размер */