.header_test {
    position:relative;
    text-align: center;
}

.header_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    outline: 20px solid black
    
}

.container {
    background-color: rgb(0, 0, 0);
    padding: auto;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-style:italic;
}