* {
    box-sizing: border-box;
}

.parent {
    font-size: 0;
    width: 1000px;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, .33);
}

.element {
    font-size: 16px;
    outline: 1px solid #000;
    display: inline-block;
    width: 320px;
}

.element {
    font-size: 16px;
}

.element {
    width: 320px;
    margin-right: 20px;
}

.element:nth-child(3n) {
    margin-right: 0px;
}
/* ⁡⁢⁢⁢element:nth-child(3n) - каждый третий⁡ */

.element {
    vertical-align: top;
}

.element {
    margin-bottom: 20px;
}