.header {
    background-color: #ccc;
    padding-left: calc(50% - 400px);
    padding-right: calc(50% - 400px);
}

/* padding-left: calc(50% - 400px);
padding-right: calc(50% - 400px); - так текст всегда будет по центру */