.parent {
  position: relative;
  width: 50%;
   top: 100;
  left: 200 ;
}

.parent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 251, 252, 0.596);
}

.child {
  display: block;
  width: 100%;
}
