.child {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: crimson;
}

.child1, .child2 {
  background-color: yellow;
}

/* ⁡⁢⁣⁢через запятую⁡ обращаемся сразу ⁡⁢⁣⁢к нескольким⁡ классам */

.parent-2 .child {
    background-color: tan;
}

/* селектор выбирает ⁡⁢⁣⁢все элементы⁡, которые находятся ⁡⁢⁣⁢внутри указанного
элемента⁡ */
/* то есть то, что находится ⁡⁢⁣⁢внутри .𝗽𝗮𝗿𝗲𝗻𝘁-𝟮⁡ и имеет класс ⁡⁢⁣⁢.𝗰𝗵𝗶𝗹𝗱⁡ */

.parent-3 > .child {
    background-color: blue;
}

/* селектор влияет только на ⁡⁢⁣⁢непосредственных детей⁡, то есть берёт только
тех детей, которые ⁡⁢⁣⁢находятся на 1 уровень глубже по вложенности⁡, но ⁡⁢⁣⁢не
трогает⁡ ⁡⁢⁣⁢более глубоких⁡ детей */

.parent-4 .child ~ .child-5 {
    background-color: aqua;
}

/* селектор выбирает всех соседей указанного селектора */

/* цвет применится только ⁡⁢⁣⁢к особенному ребёнку⁡, то есть .𝗰𝗵𝗶𝗹𝗱-𝟱,  */

/* ⁡⁢⁣⁡⁢⁢⁣но если перед .𝗰𝗵𝗶𝗹𝗱-𝟱 не будет 𝗰𝗵𝗶𝗹𝗱, то селектор не применится ⁡*/

.parent-5 .child + .child-6 {
    background-color: green;
}

/* В этом селекторе мы красим элемент, только если он является ⁡⁢⁣⁢ближайшим 
соседом снизу⁡ и лежит ⁡⁢⁣⁢строго сразу после определенного элемента⁡. */

/* ⁡⁢⁢⁣Если между указанным селектором и требуемым лежит элемент вообще с другим классом
(не .𝗰𝗵𝗶𝗹𝗱 и не .𝗰𝗵𝗶𝗹𝗱-𝟲), то ничего не сработает⁡ */

