.text {
    /* font-family: Helvetica, Arial;
    font-size: 30px;
    font-style: italic;
    font-weight: 900; */

    font: 400 15px / 40px Helvetica;
}

/* font-family - прописываем шрифты подряд через ,
будет использован тот шрифт, который идёт первым и есть у
пользователя */

/* если в font-style не получается применить italic, то
используем oblique */

/* font-weight - жирность шрифта */

/* через font можно записать несколько свойств сразу:
⁡⁢⁣⁢font-weight, font-size / line-height, font-family⁡ */

/* ⁡⁢⁣⁣дальнейшее использование в проекте HTML⁡ */