.parent {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
}

.child {
    min-height: 200px;
    width: 33.33%;
    background-color: red;
    border: 2px solid #000;
}
/* для border обычно px */
/* % - относительная единица измерения | в данном случае зависит от ширины родителя */