#element a {
    color: red;
}

/* ⁡⁢⁢⁢уровень каскада одинаков -> смотрим на селектор -> id весит больше ⁡*/


#element a {
    color: blue;
}

/* ⁡⁢⁣⁢если всё одинаково, то селектор, который находится ниже будет важнее⁡ */

/* #element .parent a {
    color: blue;
} */
/* ⁡⁢⁢⁢сделали каскад больше за счёт добавления #element -> этот стиль теперь выше⁡ */