:root {
    --text-color: #b78f20;
    --text-size: 20px;
}

/* для того чтобы создать переменную используем псевдокласс :root, 
зачем название переменных через -- */

/* .element {
    --yellow-color: #fcba03;
} */

/* можно объявить переменную внутри класса, но эта переменная будет НЕДОСТУПНА
за пределами этого класса */

@media (max-width: 600px) {
    :root {
        --text-size: 10px;
    }
}

/* через @media задаём стили для экранов с меньшим разрешением (меньше 600px) */


.element {
    color: var(--text-color);
    font-size: var(--text-size);
}

/* var - подключение к переменной, внутри скобок - название переменной */