.block {
    min-height: 100px;
    background-color: crimson;
    width: clamp(480px, 50%, 1000px);
}

/* width: clamp(480px, 50%, 1000px) - Вычисляет 50% от ширины родителя

Сравнивает с 480px (минимум) и 1000px (максимум)

Выбирает значение, которое находится в диапазоне [480px ... 1000px], 
если 50% от родителя =< 480px, то берёт min, то есть 480px,
если 50% от родителя = 50%, то берёт среднее значение, то есть 50%,
если 50% от родителя <= 1000px, то берёт 1000px,

то есть 480px <= 50% от родителя <= 1000px */